<html>
<head>
<title>
server
</title>
</head>
<body>
	<h1>Welcome to apache server</h1>
	<h2>IPADDRESS : <%=node['ipaddress'] %></h2>
	<h2>HOSTNAME  : <%=node['hostname'] %></h2>
	<img src="one.png">
	<h2>--------------</h2>
</body>
</html>
